termcolor
numpy
tqdm
matplotlib
termcolor
yacs
tabulate
cloudpickle
Pillow
imagesize
tensorboard
opencv-python
lvis
pyasn1>=0.6.2 # not directly required, pinned by Snyk to avoid a vulnerability
wheel>=0.46.2 # not directly required, pinned by Snyk to avoid a vulnerability
